@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #f7f0f03d;
    font-family: 'Poppins', sans-serif ,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header,footer,footer>.container,header>.container{
    background-color: #562EFF;
  
}

main,header{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}
a{
    text-decoration: none;
}
h3,h4,p{
    font-family: 'Poppins', 'Roboto', sans-serif;
    margin: 5px;
}
h3,h4{
    font-size: 20px;
  
}
p{
    font-size: 16px;
    
}
.section-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24;
    color:#562EFF;
    
}
.container{
   
    width: 840px;
   padding: 30px;
   margin: 10px auto;
   background: #FFFFFF;
   border-radius: 5px;
}
nav a{
    color: azure;
}
.navbar,.nav-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    margin:5px 15px;
    padding: 5px 15px;
    
    border-radius: 8px;
    background-color: rgba(208, 203, 212, 0.199);
}
.nav-link:hover {
    border-bottom: 6px solid rgba(133, 11, 233, 0.452);
}
.logo{
    margin: 0px 10px;
}
.user-img{
    width: 50px;
    height: 50px;
    padding: 2px 5px;
}
header>.container{
    padding: 10px 30px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    margin: 30px 0;
}
.player{
    display: flex;
 
}
.player img{
    width: 56px;
    height: 56px;
   margin-right: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}
.section-title{
    margin-top: 0;
    font-size: 24px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
    /* grid-column-gap: 30px; */
    
}
.blog{
  display: flex;
    
}
.blog-details{
    padding: 0px 16px ;
}
.blog-photo img{
    width: 177px;
    height: 117px;
}
.blog-details>.author{
    font-size: 16px;
    color: #A2A2A2;
    
}

.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:10px ;
}

.course{
    max-width:250px;
    background-color: rgba(241, 243, 243, 0.137);
    padding: 14px 16px 14px 12px;
    border-radius: 10px;
  
    overflow: hidden;
    
}
.course-tumnaile img{
    width: 100%;
    margin-bottom: 10px;

}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
}
.course-title>.author{
    color: #ED6B4F;
    font-size: 14px;
    
}
.rating,.rating>span{
    font-size: 12px;
   color: #A2A2A2;
   
}
.fa-star.filled {
    color:#FFC014

}
.duration{
    background: #FFE4E8;
    border-radius: 15px;
    padding: 5px 8px;
    color:#FF4A60;
    
}

 
.counter{
    display: flex;
    justify-content: center;
    box-shadow: 8px 8px 20px  rgba(128, 128, 128, 0.377);
    /* width: 100%; */
   
 }
.cout-item{
    padding: 10px 10px;
    margin: 5px 30px;
    text-align: center;
}
.footer-section> p{
    text-align: center;
    color: beige;
}






/* media quesries */


/* media queries for tab  */

@media (min-width:500px) and (max-width:900px) {
    .container{
        box-sizing: border-box;
        width: 95%;
        margin: 0%;
        overflow: hidden;
    }
    .players,.blogs,.courses{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;

        /* grid-row-gap: 20px; 
        margin: 30px auto; */
    }
    /* .blogs{
        display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     } */
     .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;

        /* grid-row-gap: 20px; 
        margin: 30px auto; */
    }
    .blog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
     .course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      
      
    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
    }
  
}




/* media queries for mobile */
@media (max-width:500px) {
    .container{
        box-sizing: border-box;
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        display: flex;
        align-items: flex-start;
    }
    .logo>h2{
        font-size: 20px;
    }
    .players,.blogs,.courses{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* grid-column-gap: 20px;
        grid-row-gap: 20px; */
        margin: 30px auto;
    }
    .player{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .blogs{
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog{
        flex-direction: column;
    }
    .course{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }
    .course-tumnaile img{
        width: 100%;
        margin-bottom: 8px;
    }
    /* .course-info{
        display: flex;
        flex-direction: ;
        justify-content: space-between; 
        align-items:center;
    } */

    .counter{
        display: flex;
        justify-content: center;
        flex-direction: column;
         width: 300px; 
       
     }
     .cout-item{
        padding: 10px;
        text-align: center;
    }
    .section-title{
        font-size: 20px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    p{
        font-size: 14px;
    }
  .author{
      font-size: 12px;
  }
}